<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="All Test Suite">
    <test verbose="2" preserve-order="true" name="Test1" thread-count="5" parallel="classes" >
        <classes>
            <class name="API"></class>
            <class name="ExtendReportAutomationTest"></class>
        </classes>
    </test>
</suite>